/* ------------------------
BANNER SECTION
-------------------------  */

.banner{
    background-color: #2D25A0;
    width: 1440px;
    height: 677px;
}

.banner-section{
    display: flex
}
.banner-name{
position: relative;
margin-top: 207px;
width: 485px;
height: 230px;
margin-left: 156px;
margin-bottom: 27px;
 font-family: 'Poppins', sans-serif;
font-weight: 700;
font-size: 64px;
line-height: 80px;
color: white;
}
.live-link{
    position: absolute;
    width: 168px;
    height: 44px;
    left: 156px;
    top: 464px;
    padding: 10px 24px;
    background-color: #E02C6D;
   
}
.live-link a{
text-decoration: none;
position: static;
width: 88px;
height: 24px;
margin-left: 24px;
margin-top: 10px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}

.banner-img img{
width: 556.01px;
height: 438px;
margin-right: 141PX;
margin-left: 102px;
margin-top: 153px;
margin-bottom: 86px;
}
.banner-img  img:hover{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

.live-link:hover{
border: 2px solid green;
border-radius: 5px;
box-shadow: 0 0 10px;
}


/* -------------------------------
PLAYERS SECTION 
--------------------------------- */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-left: 180px;
    margin-right: 210px;
    background-color: #FFFFFF;
}
.player{
width :300px;
height :474px;
margin-top: 70px;
padding: 15px;
box-shadow: 1px 1px 5px;
margin-bottom: -70px;
}
.player img{
width: 300px;
height: 256px;
}
.player-name{
font-family:'Poppins', sans-serif;
height: 30px;
font-style: normal;
font-weight: 700px;
font-size: 28px;
line-height: 40px;
color: #18191F;
margin: 6px 0px;
align-self: stretch;
}
.player-detail{
position: static;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400px;
font-size: 16px;
line-height: 26px;
color: #6C6C6C;
align-self: stretch;
margin: 4px 0px;
}



/*------------------ 
HIGHLIGHTS SECTION
---------------------  */

.highlights-section{
    display: flex;
    margin-top: 224px;
    margin-left: 182px;
    width: 466px;
    height: 241px;
    padding-bottom: 158px;
}

.highlights-title{
width: 466px;
height: 120px;
font-family: 'Poppins';
font-weight: 700;
font-size: 48px;
line-height: 60px;
color: #0A0826;
margin: 8px 0px;
}

.highlights-detail{
width: 404px;
height: 113px;
top: 128px;
font-family: 'Poppins';
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #6C6C6C;
padding-bottom: 24px;
}
.watch-link{
padding: 10px 24px;
position: static;
width: 173px;
height: 30px;
background: #E02C6D;
}
.watch-link a{
width: 93px;
height: 24px;
margin-left: 24px;
margin-top: 10px;
font-family: 'Poppins';
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
text-decoration: none;
position: static;
}

.highlights-image img{
    width: 567px;
    height: 427px;
    margin-left: 69px;
    margin-right: 156px;
}



/* -------------------------
FOOTER SECTION 
--------------------------- */
footer {
width: 483.87px;
height: 213px;
margin-right: 475px;
margin-left: 480px;
margin-top: 158px;
}
footer img{
    width: 483.87px;
    height: 110px;
    margin: 20px 0px; 
}
.social-icons{
display: flex;
flex-direction: row;
align-items: flex-start;
position: static;
width: 170px;
height: 32px;
margin-left: 156px;                 
}
.copyright{
position: static;
margin-left: 123px;
padding-bottom: 63px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 4px;
display: flex;
align-items: center;
text-align: right;
color: #000000;
}




/*--------------------------
 MEDIA QUERY 
 -------------------------- */


 @media (max-width:500px)  {
     .banner{
        width: 700px;
        height: 695px;
     }
    
    .banner-section{
       display: block;
       width: 360px;
       height: 695px;
    }
     .players{
         margin-top: 200px;
         display: block;
     }
     .player{
        width: 330px;
        height: 474px;
     }
   .highlights-section{
        display: block;
        width: 329px;
        height: 299px;
        margin-left: 15px;
}
.highlights-section img{
    width: 328px;
    height: 248px;
    margin-left: 16px;
}
footer {
    width: 150px;
    height: 63px;
    margin-left: 18px;
}
  .copyright{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
align-items: center;
text-align: right;
  }   
 }

 @media screen and (min-width:501px) and (max-width:780px) {
     .players{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
     }
 }